/datasets/DiDeMo/didemo_narration.json
/datasets/MSRVTT/MSRVTT_narration.json
/datasets/MSVD/MSVD_narration.json
/datasets/Vatex/vatex_narration.json

/datasets/MSRVTT/videos
/datasets/MSVD/videos
/datasets/Vatex/videos
/datasets/DiDeMo/videos

/datasets/MSRVTT/videos_compressed
/datasets/MSVD/videos_compressed
/datasets/Vatex/videos_compressed
/datasets/DiDeMo/videos_compressed

/datasets/MSRVTT/frames
/datasets/MSVD/frames
/datasets/Vatex/frames
/datasets/DiDeMo/frames

/datasets/MSRVTT/msrvtt_data
/datasets/MSVD/msvd_data

/datasets/MSRVTT/frames.zip
/datasets/MSVD/frames.zip
/datasets/MSRVTT/msrvtt_data.zip
/datasets/MSVD/msvd_data.zip